body .connect {
    color: whitesmoke;
    /* justify-content: center; */
    margin-left: 90%;
    height: 30px;
    width: 8rem;
    font-size: 20px;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(176, 88, 72);
}

body .connect:hover {
    transition: 0.7s;
    background-color: rgb(201, 54, 29);
}

/* body .fund {
    margin-left: 40px;
} */